<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="productGrid">
  <div class="product-grid">
    <div th:each="product : ${products}" class="product-block">
      <a th:href="@{/product/{id}(id=${product.id})}">
        <div class="image-container">
          <div th:if="${#lists.isEmpty(product.images)}" class="no-image-message">Фото не добавлено</div>
          <img th:if="${not #lists.isEmpty(product.images)}"
               th:src="@{/product/image/{id}(id=${product.images[0].id})}"
               alt="Product Image"/>
        </div>
        <div class="product-info">
          <h3 th:text="${product.name}"></h3>
          <p><strong>Сорт:</strong> <span th:text="${product.sort}"></span></p>
          <p><strong>Толщина:</strong> <span th:text="${#numbers.formatDecimal(product.tolsh, 1, 2)}"></span></p>
        </div>
      </a>
    </div>
  </div>
</div>
</body>
</html>